---
interface Props {
  items: { question: string; answer: string }[];
}
const { items } = Astro.props;
---
<section>
  {items.map((item) => (
    <details>
      <summary>{item.question}</summary>
      <p>{item.answer}</p>
    </details>
  ))}
</section>